@media screen and (min-width: 450px) {
  .container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
  }

  .chatNames {
    width: 20%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px #161616;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .chatNames::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .chatNames::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  .chatNames::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  .chats {
    width: 76%;
    height: 85vh;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px #161616;
    padding: 10px 0;
  }

  .chats>p{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    color: #e0e3e9;
  }

  .upperBar{
    display: none;
  }

  .lowerBar{
    display: none;
  }
}

@media screen and (max-width: 449px) {
  .outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86vh;
  }

  .container{
    display: none;
  }

  .upperBar{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
  }

  .chatNames {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .chatNames::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .chatNames::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  /* Handle */
  .chatNames::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }

  .chats {
    width: 90%;
    height: 70vh;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px #e0e3e9;
    padding: 10px 0;
  }

  .chats>p{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    color: #e0e3e9;
  }

  .lowerBar{
    width: 95%;
    height: 9vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    background-color: #fefefe;
    border-radius: 1em 1em 2.5em 2.5em;
    box-shadow: 2px 2px 2px 2px #161616;
    -webkit-tap-highlight-color: transparent;
  }

  .lowerBar>img{
    width: 40px;
  }
}
