@media screen and (min-width: 450px) {
  .container {
    width: 300px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(127, 181, 228);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #161616;
  }

  .container::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
  }

  /* Handle */
  .container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }

  .button {
    display: block;
    border: 0px transparent;
    height: 35px;
    border-radius: 15px;
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 449px) {
  .container {
    width: 300px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(127, 181, 228);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #161616;
  }

  .container::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
  }

  /* Handle */
  .container::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }

  .button {
    display: block;
    border: 0px transparent;
    min-height: 35px;
    border-radius: 15px;
    width: 300px;
    margin: 0 auto;
  }
}
